body{
    background-image: url("https://media4.giphy.com/media/mRQxT7hSvNGnaHUkHt/200w.gif?cid=82a1493brut85rjaz99kojhq1rvh08y18f78off9pkuwa7lc&rid=200w.gif&ct=g");
}
h1{
    color: red;
    text-decoration: line-through;
    text-shadow: 1px 1px 2px pink;